/* Rosa pastel: #FFC0CB
Azul pastel: #ADD8E6
Amarelo pastel: #FFFFE0
Verde pastel: #98FB98
Lilás pastel: #E6E6FA
Pêssego pastel: #FFDAB9
Azul-celeste pastel: #B0E0E6
Menta pastel: #98FF98
Coral pastel: #FF6B6B
Lavanda pastel: #E6E6FA */

/* CORES:
    Azul pastel: #ADD8E6, rgb(173 216 230)
    Lavanda pastel: #E6E6FA, rgb(230 230 250)
    Pêssego pastel: #FFDAB9, rgb(255 218 185)
    Verde pastel: #B2DDC9, rgb(178 221 201)
*/

/* FONTES:
    'Dancing Script', cursive;
    'Open Sans', sans-serif;
    'Lobster', sans-serif;
    'Poppins', sans-serif;
*/



/* CRIAÇÃO DE VARIÁVEIS */
:root {
  --main-background: #B2DDC9;
  --main-gradient: linear-gradient(to right, #FFF7AE , #feaaf8);
  --text-color: #000000;
  --clear-text-color: #fff;
  --curso-color: #2c3593;
  --offcanvas-bg: #191919;

  --title-family: 'Poppins', sans-serif;
  --title-size: 16px;
  --title-height: 24px;

  --text-family: 'Poppins', sans-serif;
  --text-size: 14px;
  --text-height: 21px;
  /* --body-font:; */
  /* --title-family: "Inter"; */
  /* font-family: "Open Sans", sans-serif; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-family);
  padding: 0;
  margin: 0;
  font-size: var(--title-size);
  line-height: var(--title-height);
}

p {
  font-family: var(--text-family);
  font-size: var(--text-size);
  line-height: var(--text-height);
}

/* manter o footer no final da página */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-background);
  background-image: var(--main-gradient);
}

footer {
  margin-top: auto;
  height: 3rem;
}

a {
  text-decoration: none;
}

.top {
  height: 99px;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  background-color: var(--main-background);
  background-image: var(--main-gradient);
  z-index: 99;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1.875rem;
}

nav a {
  color: var(--text-color);
}

nav button {
  background: none;
  border: none;
}

nav .interrogacao {
  width: 2rem;
}

.pedagogia-e-nome-projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-pedagogia {
  width: 4rem;
}

.nome-projeto {
  font-size: .75rem;
  color: var(--curso-color);
  padding: 0;
  margin: 0;
  font-family: var(--title-family);
}


/* ------ CAPA ------ */
.main-capa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#capa-curso {
  margin-top: 3rem;

  font-family: var(--title-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: var(--curso-color);
}

#capa-projeto-int {
  font-family: var(--title-family);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: var(--text-color);
}

#capa-bv {
  margin-top: 5.5rem;

  font-family: var(--title-family);
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  color: var(--text-color);
}

#uniso-logo {
  width: 200px;
  margin-top: 60px;
}

#capa-btn {
  color: var(--text-color);

  font-family: var(--title-family);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  border: 1px solid #F878B8;
  border-radius: .5rem;
  padding: .5rem 3rem;

  margin-top: 4.7rem;
}
/* ------ FIM CAPA ------ */


/* ------ MENU LATERAL (OFFCANVAS) ------ */
.offcanvas {
  background-color: var(--offcanvas-bg);
  color: var(--clear-text-color);
  /* padding: 0 28px; */

}
.offcanvas .close {
  color: var(--clear-text-color);
  background: none;
  border: none;
}

.offcanvas-header {
  border-bottom: 1px solid var(--clear-text-color);
  padding: 1rem;
  margin-bottom: 2rem;
}

.offcanvas-img {
  width: 65px;
}

.offcanvas-body {
  padding: 0 1.25rem;
}

.offcanvas-items {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.offcanvas-items img {
  width: 2rem;
  margin-right: 1rem;
}

.offcanvas-body a {
  color: var(--clear-text-color);
}

.offcanvas-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offcanvas-footer img {
  width: 2.8rem;
  margin-bottom: .5rem;
}
.offcanvas p {
  font-size: 14px;
}

/* ------ HOME ------- */
section {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alunos {
  border-radius: 20px;
  width: 57%;
  padding: 1rem 0;
  max-width: 500px;
}

.divider {
  border-bottom: 1px solid black;
}

.titulo-secao {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

.titulo-secao h6 {
  font-weight: bold;
}

.titulo-secao img {
  width: 1.75rem;
  margin-right: 1rem;
}

.titulo-secao-trofeu {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  align-items: flex-end;
}

.trofeu {
  width: 2.8rem;
  height: 2.8rem;
}

.sub-titulo {
  padding-top: 1rem;
  font-weight: 500;
}

.conteudo {
  text-align: justify;
  font-weight: 500;
}

/* ------ VIDEOAULA ------ */
.topicos {
  margin-left: 2rem;
}

/* iframe {
  text-align: center;
  height: ;
  width: ;
} */

.video {
  margin-left: 5rem;
}

/* BOTÃO DE VOLTAR PARA CIMA  */
.back-to-top {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.back-to-top.show svg {
  width: 2rem;
  height: 2rem;
}

.back-to-top.show {
  width: auto;
  opacity: 1;
  visibility: visible;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  color: var(--text-color);
}

.back-to-top.show:hover {
  opacity: 0.5;
}


/* ------ MAPA CONCEITUAL ------ */
/* TIMELINE COLORS */
/* DFCCFE - 16/08
E7C4F1 - 23/08
FFBBE9 - 30/08
FEDBC6 - 06/09
FDD568 - 13/09
AFE666 - 20/09
89E2EC - 27/09
8FAAF4 - 04/10
E0C8FF - 11/10
F2C0FF - 18/10
FCBCE4 - 01/11
FFB9E3 - 08/11
EABCFD - 22/11
E3CFFF - 29/11
91ABED - 02/12 */

/* Timeline Container */
.timeline {
  padding: 20px;
}


/* Outer Layer with the timeline border */
.outer {
  border-left: 2px dashed #333;
}

/* Card container */
.card {
  /* position: relative; */
  margin: 0 0 20px 48px;
  padding: 10px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

/* Information about the timeline */
.info {
  /* display: flex; */
  flex-direction: column;
  gap: 10px;
}

.info p{
  margin-bottom: 0;
  line-height: 1rem;
}

/* Title of the card */
.title {
  color: black;
  position: relative;
  line-height: 1rem;
}

/* Timeline dot colors */
#DFCCFE::before {
  content: "16/08";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #DFCCFE;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.DFCCFE {
  background-color: #DFCCFE;
}


#E7C4F1::before {
  content: "23/08";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #E7C4F1;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.E7C4F1 {
  background-color: #E7C4F1;
}


#FFBBE9::before {
  content: "30/08";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #FFBBE9;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.FFBBE9 {
  background-color: #FFBBE9;
}

#FEDBC6::before {
  content: "06/09";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #FEDBC6;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.FEDBC6 {
  background-color: #FEDBC6;
}

#FDD568::before {
  content: "13/09";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #FDD568;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.FDD568 {
  background-color: #FDD568;
}


#AFE666::before {
  content: "20/09";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #AFE666;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.AFE666 {
  background-color: #AFE666;
}

#z89E2EC::before {
  content: "27/09";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #89E2EC;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.z89E2EC {
  background-color: #89E2EC;
}

#z8FAAF4::before {
  content: "04/10";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #8FAAF4;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.z8FAAF4 {
  background-color: #8FAAF4;
}

#E0C8FF::before {
  content: "11/10";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #E0C8FF;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.E0C8FF {
  background-color: #E0C8FF;
}

#F2C0FF::before {
  content: "18/10";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #F2C0FF;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.F2C0FF {
  background-color: #F2C0FF;
}

#FCBCE4::before {
  content: "01/11";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #FCBCE4;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.FCBCE4 {
  background-color: #FCBCE4;
}

#FFB9E3::before {
  content: "08/11";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #FFB9E3;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.FFB9E3 {
  background-color: #FFB9E3;
}

#EABCFD::before {
  content: "22/11";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #EABCFD;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.EABCFD {
  background-color: #EABCFD;
}

#E3CFFF::before {
  content: "29/11";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #E3CFFF;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
}

.E3CFFF {
  background-color: #E3CFFF;
}

#z91ABED::before {
  content: "02/12";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #91ABED;
  border-radius: 999px;
  left: -82px;
  border: 2px solid black;
  font-size: 1rem;
  line-height: 28px;
  top: -11px;
  
}

.z91ABED {
  background-color: #91ABED;
}


/* ------ QR CODE ------ */
.legenda {
  font-weight: 400;
  font-size: 12px;
  line-height: 9.69px;
  text-align: center;
}

.qr-code {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  /* height: auto;
  width: 240px; */
}
.qr-code img {
  width: 70%;
  max-width: 300px;
}

/* ------- PROPOSTAS COLAPSAVEIS ------- */
.collapsible {
  background: none;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.collapsible svg {
  margin-left: 2rem;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: justify;
}

.content p {
  margin-top: 1rem;
}


/* ------ VIDEO AULA ------ */
/* #video {
  width: 70%;
  height: 10vh;
} */
iframe {
  aspect-ratio: 16/9;
  width: 100%;
  max-width: 720px;
}



/* Mobile first desing */
@media (max-width: 767px) {
  .container {
    padding: 0 1rem;
  }
  .offcanvas {
    max-width: 70%;
  }
}

/* @media (max-width: 359px) {
  #video {
    width: 70%;
    height: 240px;
  }
} */
