/* Rosa pastel: #FFC0CB
Azul pastel: #ADD8E6
Amarelo pastel: #FFFFE0
Verde pastel: #98FB98
Lilás pastel: #E6E6FA
Pêssego pastel: #FFDAB9
Azul-celeste pastel: #B0E0E6
Menta pastel: #98FF98
Coral pastel: #FF6B6B
Lavanda pastel: #E6E6FA */

/* CORES:
    Azul pastel: #ADD8E6, rgb(173 216 230)
    Lavanda pastel: #E6E6FA, rgb(230 230 250)
    Pêssego pastel: #FFDAB9, rgb(255 218 185)
    Verde pastel: #B2DDC9, rgb(178 221 201)
*/

/* FONTES:
    'Dancing Script', cursive;
    'Open Sans', sans-serif;
    'Lobster', sans-serif;
    'Poppins', sans-serif;
*/



/* CRIAÇÃO DE VARIÁVEIS */
:root {
  --main-background: #B2DDC9;
  --text-color: #000000;
  --clear-text-color: #fff;
  --curso-color: #2c3593;
  --offcanvas-bg: #191919;
  --title-family: 'Lobster', sans-serif;
  --text-family: 'Poppins', sans-serif;
  /* --body-font:; */
  /* --title-family: "Inter"; */
  /* font-family: "Open Sans", sans-serif; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-family);
  padding: 0;
  margin: 0;
}

p {
  font-family: var(--text-family);
}
/* manter o footer no final da página */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-background);
}

footer {
  margin-top: auto;
}

a {
  text-decoration: none;
}

.top {
  height: 5.5rem;
}

/* HEADER */
header {
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  background-color: var(--main-background);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1.875rem;
}

nav a {
  color: var(--text-color);
}

nav button {
  background: none;
  border: none;
}

nav .interrogacao {
  width: 2rem;
}

.pedagogia-e-nome-projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-pedagogia {
  width: 4rem;
}

.nome-projeto {
  font-size: .75rem;
  color: var(--curso-color);
  padding: 0;
  margin: 0;
  font-family: var(--title-family);
}


/* ------ CAPA ------ */
.main-capa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#capa-curso {
  margin-top: 5rem;

  font-family: var(--title-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: var(--curso-color);
}

#capa-projeto-int {
  font-family: var(--title-family);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: var(--text-color);
}

#capa-bv {
  margin-top: 5.5rem;

  font-family: var(--title-family);
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  color: var(--text-color);
}

#uniso-logo {
  width: 200px;
  margin-top: 70px;
}

#capa-btn {
  color: var(--text-color);

  font-family: var(--title-family);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  border: 1px solid #F878B8;
  border-radius: .5rem;
  padding: .5rem 3rem;

  margin-top: 7.7rem;
}
/* ------ FIM CAPA ------ */


/* ------ MENU LATERAL (OFFCANVAS) ------ */
.offcanvas {
  background-color: var(--offcanvas-bg);
  color: var(--clear-text-color);
  padding: 0 28px;

}
.offcanvas .close {
  color: var(--clear-text-color);
  background: none;
  border: none;
}

.offcanvas-header {
  border-bottom: 1px solid var(--clear-text-color);
  padding: 16px 0;
  margin-bottom: 2rem;
}

.offcanvas-img {
  width: 65px;
}

.offcanvas-body {
  padding: 0;
}

.offcanvas-items {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.offcanvas-items img {
  width: 2rem;
  margin-right: 1rem;
}

.offcanvas-body a {
  color: var(--clear-text-color);
}

.offcanvas-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offcanvas-footer img {
  width: 2.8rem;
  margin-bottom: .5rem;
}
.offcanvas p {
  font-size: 14px;
}

/* ------ HOME ------- */
section {
  margin-bottom: 3rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alunos {
  border-radius: 20px;
  width: 57%;
  padding: 1rem 0;
}

.titulo-secao {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.titulo-secao h6 {
  font-weight: bold;
}

.titulo-secao img {
  width: 1.75rem;
  margin-right: 1rem;
}

.trofeu {
  width: 2.8rem;
}

.conteudo {
  text-align: justify;
}


/* BOTÃO DE VOLTAR PARA CIMA  */
.back-to-top {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.back-to-top.show svg {
  width: 2rem;
  height: 2rem;
}

.back-to-top.show {
  width: auto;
  opacity: 1;
  visibility: visible;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  color: var(--text-color);
}

.back-to-top.show:hover {
  opacity: 0.5;
}


/* Mobile first desing */
@media (max-width: 767px) {
  .offcanvas {
    max-width: 70%;
  }
}
